---
import BenefitCard from '@/components/BenefitCard.astro';
import { getCollection } from 'astro:content';

const { dark = false } = Astro.props;

const benefitsEntries = await getCollection('benefits');
const benefitsData = benefitsEntries[0].data;
---

<section id="beneficios" class={`py-20 px-6 ${dark ? 'bg-dark-1 text-white' : 'bg-background text-text'}`}>
  <div class="max-w-6xl mx-auto">
    <h2 class="font-script text-5xl md:text-7xl leading-tight font-bold text-primary mb-6 text-center">{benefitsData.title}</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      {benefitsData.benefits.map((item, index) => <BenefitCard titulo={item.title} descricao={item.description} index={index} dark={dark} />)}
    </div>
  </div>
</section>
