---
import DepoimentCard from '@/components/DepoimentCard.astro';
import SectionTitle from '@/components/SectionTitle.astro';
import { getEntry } from 'astro:content';

const { dark = false } = Astro.props;

const { data } = await getEntry('testimonials', 'testimonials');

const testimonials = data.items;
---

<section id="depoimentos" class={`py-20 px-6 ${dark ? 'bg-dark-1 text-gray-100' : 'bg-background text-text'}`}>
  <div class="max-w-6xl mx-auto">
    <SectionTitle>Depoimentos</SectionTitle>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      {
        testimonials.map((member, index) => (
          <DepoimentCard key={index} nome={member.name} foto={member.photo} bio={member.bio} dark={dark} />
        ))
      }
    </div>
  </div>
</section>
